In [5]:
pwd

'C:\\Users\\paperbaekwriter\\Desktop'

In [6]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: BA88-75B1

 C:\Users\paperbaekwriter\Desktop 디렉터리

2018-03-12  오후 04:21    <DIR>          .
2018-03-12  오후 04:21    <DIR>          ..
2018-03-12  오후 04:21    <DIR>          .ipynb_checkpoints
2018-03-12  오후 04:21    <DIR>          __pycache__
2018-03-11  오후 09:16             1,133 ConstructUI.lnk
2018-03-11  오후 08:32               184 debt.txt
2018-03-11  오후 10:10    <DIR>          EPNK
2018-03-11  오후 10:20        13,031,289 Fundamentals of Remote Sensing.pdf
2018-03-12  오후 02:46    <DIR>          International Macroeconomics
2018-03-11  오후 08:57    <DIR>          NKE
2018-03-11  오후 10:14    <DIR>          NKR
2018-03-08  오후 03:19               927 programreferences.txt
2018-03-12  오후 12:24    <DIR>          QuantEcon.py-master
2018-03-12  오전 10:15                88 some_module.py
2018-03-09  오후 01:28                40 UNTIL FRIDAY.txt
2018-03-12  오후 04:21            37,154 Untitled4.ipynb
2018-03-12  오후 12:09    <DIR>          공간정보와시각화_2017
2018-03-08  오후 10:22    <DIR>          기타
2018-03-11  오후 10:04    <DIR>          직장
2018-03-11  오후 10:31            36,425 最新摘要.docx
               8개 파일          13,107,240 바이트
              12개 디렉터리  987,943,178,240 바이트 남음

In [7]:
!type some_module.py

# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b

In [8]:
import some_module

In [9]:
result = some_module.f(5)

In [11]:
result

7

In [12]:
some_module.f(5)

7

In [14]:
pi = some_module.PI

In [15]:
pi

3.14159

In [16]:
some_module.PI

3.14159

In [ ]:
import some_module as sm

In [35]:
sm.f(5)

7

In [36]:
sm.PI

3.14159

In [37]:
from some_module import PI as pi, g as gf

In [39]:
pi

3.14159

In [40]:
PI

NameError: name 'PI' is not defined

In [38]:
sm.pi

AttributeError: module 'some_module' has no attribute 'pi'

In [19]:
sm.f(sm.PI)

5.14159

In [20]:
r1 = sm.f(pi)

In [22]:
r1

5.14159

In [28]:
sm.f(pi)

5.14159

In [29]:
weloveeconomics = sm.g(1,5)

In [30]:
weloveeconomics

6

In [31]:
sm.g(1,5)

6

여기까지 입니다.

You can also write some mathematical notations such as $\alpha$

In [155]:
5 - 7

-2

In [156]:
12 + 21.5

33.5

In [157]:
5 <= 2

False

In [158]:
a = [1, 2, 3]
b = a
c = list(a)

In [159]:
a is b

True

In [160]:
a is not c

True

In [161]:
a==c

True

In [166]:
a = None

In [167]:
a is None

True

In [169]:
a_list = ['foo', 2, [4, 5]]
a_list

['foo', 2, [4, 5]]

In [170]:
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [174]:
ival = 17239871

In [175]:
ival * 6

103439226

In [176]:
ival ** 6

26254519291092456596965462913230729701102721

In [177]:
fval = 7.243; fval2 = 6.78e-5

In [178]:
fval

7.243

In [179]:
fval2

6.78e-05

In [180]:
3/2

1.5

In [181]:
3//2

1

In [33]:
a = 'one way of writing a string'

In [34]:
b = "another way"

In [37]:
c = """
This is a longer string that
spans multiple lines
"""

In [41]:
a = 'this is a string'

In [42]:
a[10]

's'

In [43]:
a[0]

't'

In [44]:
a = 5.6
s = str(a)
print(s)

5.6

In [45]:
print(a)

5.6

In [47]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [48]:
s[:3]

'pyt'

In [49]:
s = '12\\34'
print(s)

12\34

In [50]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [51]:
s = r'a'

In [52]:
s

'a'

In [54]:
s = 'this\has\no\special\characters'

In [55]:
s

'this\\has\no\\special\\characters'

In [56]:
k = r"\n"

In [57]:
k

'\\n'

In [58]:
k = "\n"

In [59]:
k

'\n'

In [60]:
s = '12\\34'
print(s)

12\34

In [61]:
s = r'12\\34'
print(s)

12\\34

In [62]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [63]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [64]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [65]:
template = '{0:.2f} {1:s} are worth US${2:d}, for {3:s}'

In [66]:
template.format(4.5560, 'Argentine Pesos', 1, 'today')

'4.56 Argentine Pesos are worth US$1, for today'

In [67]:
template.format(4.5560, 'Argentine Pesos', 1)

IndexError: tuple index out of range

In [68]:
True and True

True

In [70]:
True or False

True

In [71]:
s = '3.14159'
fval = float(s)

In [72]:
fval

3.14159

In [73]:
type(fval)

float

In [75]:
int(fval)

3

In [76]:
bool(fval)

True

In [77]:
bool(0)

False

In [78]:
bool(-0.1)

True

In [83]:
a = None

In [84]:
a is None

True

In [86]:
b == None

False

In [87]:
b is None

False

In [88]:
def add_and_maybe_multiply(a, b, c=None):

SyntaxError: unexpected EOF while parsing (<ipython-input-88-bbade75b79c1>, line 1)

In [187]:
def add_and_maybe_multiply(a, b, c=None):
    result = a+b
    return result

In [188]:
add_and_maybe_multiply(1, 2)

3

In [189]:
add_and_maybe_multiply(1, 2, 7)

3

In [90]:
def add_and_maybe_multiply(a, b, c=None):
    result = a+b
    if c is not None:
        result = result * c
    return result

In [91]:
add_and_maybe_multiply(1, 2)

3

In [92]:
add_and_maybe_multiply(1,2,7)

21

In [93]:
type(None)

NoneType

In [94]:
from datetime import datetime, date, time

In [95]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [96]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [97]:
dt.day

29

In [98]:
dt.minute

30

In [99]:
dt.second

21

In [100]:
dt.date()

datetime.date(2011, 10, 29)

In [101]:
dt.time()

datetime.time(20, 30, 21)

In [102]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [103]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [104]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt

In [190]:
delta

datetime.timedelta(17, 7179)

In [191]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [110]:
4 > 3 > 2 > 1

True

In [112]:
if x < 0: 
    print('negative')

NameError: name 'x' is not defined

In [113]:
x = -3
if x < 0: 
    print('negative')

negative

In [114]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [115]:
range(4)

range(0, 4)

In [116]:
x = 256; total = 0

In [117]:
while x > 0: 
    if total > 500: 
        break 
    total += x 
    x = x // 2

In [118]:
x

4

In [119]:
while x > 0: 
    if total > 500: 
        break 
    total += x

In [120]:
total

504

In [121]:
x = 256; total = 0

In [122]:
while x > 0: 
    if total > 500: 
        break 
    total += x

In [123]:
total

512

In [128]:
if x < 0: 
    print('negative!') 
elif x == 0:
    print('zero')

In [129]:
x

256

In [130]:
if x < 0: 
    print('negative!') 
elif x == 0:
    print('zero')
else
    print('positive')

SyntaxError: invalid syntax (<ipython-input-130-4469c1b54212>, line 5)

In [131]:
if x < 0: 
    print('negative!') 
elif x == 0:
    print('zero')
else:
    print('positive')

positive

In [132]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [133]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [134]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [138]:
seq = [1, 2, 3, 4]
for i in range(len(seq)): 
    val = seq[i]
    print(val)

1
2
3
4

In [140]:
seq = [1, 2, 3, 4]
for i in range(seq): 
    val = seq[i]
    print(val)

TypeError: 'list' object cannot be interpreted as an integer

In [142]:
seq = [1, 2, 3, 4]
for i in seq: 
    print(i)

1
2
3
4